<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="windowBean"
          class="ru.specialist.spring.PlasticWindow">
    </bean>
    <bean id="brickBean"
          class="ru.specialist.spring.Brick"
          scope="prototype"
    >
    </bean>
    <bean id="woodBean"
          class="ru.specialist.spring.Wood"
          scope="prototype">
    </bean>
    <bean id="houseBean"
          class="ru.specialist.spring.House">
        <constructor-arg ref="windowBean"/>
        <!-- <constructor-arg value="3"/>-->
        <property name="height" value="5"/>
<!--        <property name="wall" ref="brickBean"/>-->
        <property name="wall" >
            <bean class="ru.specialist.spring.Brick"/>
        </property>
    </bean>
    <bean id="mainWindowBean"
          class="ru.specialist.spring.MainWindow"
          factory-method="getInstance"
          init-method="openConnection"

    >
    </bean>
</beans>