<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util.xsd">

    <!--          SingleConnectionDataSource Синглтон соединение
         DriverManagerDataSource Всегда новое соединение-->
    <bean id="webDataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
<!--        тут имя драйвера, берется из док., мы его подключали Maven-->
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
<!--        адрес подключения и наша база-->
        <property name="url" value="jdbc:mysql://localhost:3306/web" />
        
        <property name="username" value="spec" />
        <property name="password" value="Spec123456" />


    </bean>

    <bean id="jdbcTemplate"
          class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="webDataSource" />
    </bean>

    <bean id="courseDao"
          class="ru.specialist.DAO.JdbcCourseDAO">
        <property name="jdbcTemplate" ref="jdbcTemplate" />
    </bean>



</beans>